.form {
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-top: 20px;
  }

  &__field {
    display: flex;
    flex-direction: column;

    &:first-of-type {
      margin-bottom: 42px;
    }
  }

  &__label {
    font-weight: bold;
    text-transform: uppercase;
    color: $color-primary;
    line-height: 1.44rem;
    letter-spacing: 3px;
    font-size: 1.1rem;
  }

  &__input {
    border: none;
    border-bottom: 1px solid $color-grey;
    background-color: transparent;
    line-height: 4.2rem;
  }

  &__consent {
    margin-top: 30px;
  }

  &__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 2.2rem;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        ~ .checkbox {
          background-image: url(../assets/Checkmark.svg);
          background-position: center;
          background-size: 50%;
          background-repeat: no-repeat;
        }
      }
    }

    .checkbox {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: $color-white;
      border: 1px solid $color-grey;
      border-radius: 4px;
    }

    .consent__text {
      margin: 0 10px;
      font-size: 1.2rem;
      color: $color-grey;
      line-height: 17px;
    }
  }

  .btn {
    font-size: 1.3rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
  }
}