.numbers {
    // height: 530px;
    width: 100%;
    box-shadow: 0px -5px 80px #00000029;
    padding: 50px 0;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-around;
        // height: 170px;
        max-width: 1050px;
    }
    h2 {
        margin-bottom: 25px;
        padding: 0 35px;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        // height: 100%;
        width: 50%;
    }

    .point {
        height: 63px;
        width: 63px;
        border-radius: 50%;
    }

    .point1 {
        background-color: #FB3B64;
        &::after {
            content: "";
            display: block;
            height: 52px;
            width: 100%;
            background: url('../assets/Person.svg') no-repeat;
            background-size: contain;
            margin: 2px 0 0 31px;
        }
    }

    .point2 {
        background-color: #08A6E4;
        &::after {
            content: "";
            display: block;
            height: 36.5px;
            width: 100%;
            background: url('../assets/Eye.svg') no-repeat;
            background-size: contain;
            margin: 13.25px 0 0 22px;
        }
    }

    .point3 {
        background-color: #55DFB4;
        &::after {
            content: "";
            display: block;
            height: 48px;
            width: 100%;
            background: url('../assets/Catalog.svg') no-repeat;
            background-size: contain;
            margin: 5.5px 0 0 32px;
        }
    }

    .number {
        font: 800 2rem 'Raleway';
        line-height: 24px;
        letter-spacing: 6px;
        margin: 14px 0 19px 0;
    }

    .text {
        height: 48px;
        width: 180px;
        font: 400 1.6rem 'Raleway';
        color: #A5A5A5;
        text-align: center;
        padding: 0 30px;
    }
}